@page
@model Tiger_Ride.Pages.Driver_homeModel
@{
}



<div class="text-center">
    <h1 class="display-4">(Tiger Ride logo)</h1>





    <p> <a class="nav-link text-dark" asp-area="" asp-page="/Index">Ready to Drive</a></p>
    <p> <a class="nav-link text-dark" asp-area="" asp-page="/Index">Account Information</a></p>
