@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">(Tiger Ride logo)</h1>
    <p> <a class="nav-link text-dark" asp-area="" asp-page="/Log in page">Log in</a></p>
    <p> <a class="nav-link text-dark" asp-area="" asp-page="/Sign up page">Sign up</a></p>
    <br />
    

</div>
