@page
@model Tiger_Ride.Pages.Log_in_pageModel
@{
}

<div class="text-center">
    <h1 class="display-4">(Tiger Ride logo)</h1>

    <div class="text-center">
        <h1 class="display-4">(add log in form)</h1>
        <br />
        <p> <a class="nav-link text-dark" asp-area="" asp-page="/Driver home">Driver home</a></p>
        <p> <a class="nav-link text-dark" asp-area="" asp-page="/Rider home">Rider home</a></p>
