@page
@model Tiger_Ride.Pages.Rider_homeModel
@{
}

<div class="text-center">
    <h1 class="display-4">(Tiger Ride logo)</h1>




    <p> <a class="nav-link text-dark" asp-area="" asp-page="/Index">Request a Ride</a></p>
    <p> <a class="nav-link text-dark" asp-area="" asp-page="/Index">Account Information</a></p>
