@page
@model Tiger_Ride.Pages.Sign_up_pageModel
@{
}

<div class="text-center">
    <h1 class="display-4">(Tiger Ride logo)</h1>

    <div class="text-center">
        <h1 class="display-4">(add sign up form)</h1>
        <br />
        <p> <a class="nav-link text-dark" asp-area="" asp-page="/Log in page">Log in</a></p>